
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-hNu {
  width: 200%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #1d1d1d;
}
.desktop-1-hNu .frame-gkd {
  width: 96.4rem;
  height: 80.3rem;
  position: relative;
  left: 100rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/frame.png');
}
.desktop-1-hNu .muselogo-1-kkV {
  width: 90.9rem;
  height: 95rem;
  position: absolute;
  left: 0;
  top: 36.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-hNu .download-1-sq7 {
  width: 44.5rem;
  height: 13.7rem;
  position: absolute;
  left: 60rem;
  top: 15rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-hNu .complete-unique-daily-challenges-that-will-help-boost-your-creative-thinking-Q4M {
  width: 92.6rem;
  height: 9rem;
  position: absolute;
  left: 47.4rem;
  top: 55rem;
  text-align: right;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2825;
  color: #ffffff;
  font-family: Montagu Slab, 'Source Sans Pro';
}
.desktop-1-hNu .an-app-built-to-promote-creative-thinking-zoF {
  width: 73.6rem;
  height: 4.5rem;
  position: absolute;
  left: 4rem;
  top: 40rem;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2825;
  color: #ffffff;
  font-family: Montagu Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-hNu .group-1-5Ju {
  width: 33.9rem;
  height: 26.1rem;
  position: absolute;
  left: 63.4rem;
  top: 54.2rem;
}
.desktop-1-hNu .group-1-5Ju .vector-yYh {
  width: 8.6rem;
  height: 8.5rem;
  position: relative;
  left: 0;
  top: 12.6rem;
  background-size: 100% 100%;
  background-image: url('../assets/vector-e6y.png');
}
.desktop-1-hNu .group-1-5Ju .vector-TTs {
  width: 20.8rem;
  height: 20.8rem;
  position: relative;
  left: 13.1rem;
  top: 5.3rem;
  background-size: 100% 100%;
  background-image: url('../assets/vector.png');
}
.desktop-1-hNu .group-1-5Ju .vector-ZG1 {
  width: 11.4rem;
  height: 11.4rem;
  position: relative;
  left: 7.4rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/vector-28D.png');
}
